@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

html, body {overflow-x: hidden; width: 100%; height: 100%; }
body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #fff;
	background: #000;
}


/*scrollbar redesign*/
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 3px #ccc;
}
::-webkit-scrollbar-thumb {
   background: rgb(227,6,16);
   border-radius: 10px;
}
/*::-webkit-scrollbar-thumb:hover {background: rgb(200,0,16);}*/


/*top*/
.top {
	width: 100%; 
	font-weight: bold;
	background: #151515;
	border-bottom: 1px solid rgb(48,48,48);
}
.top .inner {
	width: 1200px;
	height: 38px;
	margin: 0 auto;
	font-size: 13px;
	line-height: 3.0;
	color: rgb(132,132,132);
	background: #151515;
}
.top .left {
	float: left;
	height: 38px;
	box-sizing: border-box;
}
.top .left a {
}
.top .right {
	float: right;
}
.top .right li {
	float: left;
	padding: 0 10px;
}
.top .right li:nth-child(4) {
	position: relative;
	width: 120px;
	height: 30px;
	margin-top: 3px;
	padding-left: 5px;
	text-align: center;
	line-height: 2.5;
	color: #fff;
	border: 1px solid rgb(227,6,16);
	border-radius: 3px;
	background: rgb(227,6,16);
	transition: all 0.4s;
}
.top .right li:nth-child(2):before {
	content: url(../img/ico_kor_16x11.png);
}
.top .right li:nth-child(3):before {
	content: url(../img/ico_account_gr_13x12.png);
}
.top .right li:nth-child(4):before {
	content: url(../img/ico_cart_wt_12x12.png);
	position: absolute;
	top: 0;
	right: 13px;
	opacity: 0;
	transition: all 0.4s;
}
.top .right li:nth-child(4):hover {
	width: 130px;
}
.top .right li:nth-child(4):hover:before {
	right: 10px;
	opacity: 1;
}


/*header*/
header {
	position: relative;
	width: 100%; 
	background: #000;
	border-bottom: 1px solid rgb(48,48,48);
	z-index: 100;
}
header .inner {
/*	width: 100%;*/
	height: 80px;
	transition: all 0.6s;
	width: 1200px;
	margin: 0 auto;
}
header .logo {
	float: left;
	padding: 15px 0;
}
header .gnb { 
	float: left;
	display: inline-block;
	width:700px;
	height: 80px;
	margin-left: 50px;
	line-height: 6;
	transition: all 0.5s;
}
header .gnb .title a {
	float: left;
	margin: 0 10px;
	font-size: 14px;
	transition: all 0.3s;
}
header .gnb .title a:hover {
	color: rgb(227,6,16);
}
header .gnb .sub-menu {
	position: absolute;
	top: 84px; 
	left: 0;
	right: 0;
	height: 0;
	background: #000;
	overflow: hidden;
	box-sizing: border-box;
	transition: height 0.3s;
	z-index: 999;
}
header .gnb .sub-menu li {
	margin-left: 23.5%;
}
header .gnb .sub-menu li a {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0 10px;
}
header .gnb li:hover .sub-menu {
	height: 80px;
}
header .inner:hover .gnb {
	display: block;
}
header .gnb .sub-menu li:hover {
	color: rgb(227,6,16);
}
header .cart {
	position: absolute; 
	top: 35px; right: 365px;
	width: 20px; 
	height: 20px;
}
header .cart span {
	position: absolute;
	bottom: 7px;
	left: 13px;
	display: block;
	width: 18px;
	height: 18px;
	font-size: 12px;
	color: rgb(255,255,255);
	line-height: 17px;
	text-align: center;
	background-color: rgb(227,6,16);
	border-radius: 50%;
}


/*main*/
.main {
	width: 100%;
}
.main .container {
	min-width: 1200px;
}
.main .main_tit {
	width: 1200px;
	margin: 0 auto 20px;
	padding: 20px 0;
	box-sizing: border-box;
}
.main .container .main_tit h1 {
	margin-bottom: 20px;
    font-size: 40px;
	font-weight: bold;
}
.main .container .main_tit p {
	font-size: 14px;
}
.main .container .main_visual {
}
.main .container .main_visual img {
	display: block;
	margin: 0 auto;
}


/*contents*/
.contents {
	width: 1200px;
	margin: 0 auto 100px;
}
.contents .container {
	width: 100%;
}
.contents .container .info {
	
}
.contents .info .title {
	margin: 40px 0;
	font-size: 42px;
}
.contents .info .date {
	font-size: 12px;
	color: #666;
}
.contents .News_list {
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	margin-top: 100px;
}
.contents .News_list h3 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
}
.contents .News_list li {
	
}
.contents .News_list .left {
	float: left;
	width: 46.6%;
	height: auto;
}
.contents .News_list .right {
	float: right;
	width: 46.6%;
	height: auto;
}
.contents  .News_list .img_box {
	width: 580px;
	overflow: hidden;
}
.contents  .News_list .img_box img {
	display: block;
	width: 100%;
	transition: 0.3s;
}
.contents .News_list li:hover img {
	transform: scale(1.1);
}
.contents  .News_list .txt_box {
	width: 580px;
	height: 86px;
	margin: 20px 0;
}

.contents  .News_list .txt_box p {
	font-size: 18px;
	word-break: keep-all;
}
.contents  .News_list .txt_box span {
	font-size: 14px;
	color: #666;
}


/*bottom-nav*/
.bottom-nav {
	width: 100%;
	height: 100%;
	padding: 15px 0 40px;
	background: #000;
	border-bottom: 1px solid rgb(48,48,48);
}
.bottom-nav .inner {
	width: 1200px;
	margin: 0 auto;
}
.bottom-nav ul {
	float: left;
	width: 16.6666%;
}
.bottom-nav li {
	color: #ccc;
}

.bottom-nav li span {
	display: block;
	margin: 25px 0;
	font-weight: bold;
	color: #fff;
}


/*footer*/
footer {
	position: relative;
	background: #000;
	width: 100%;
	padding: 20px;
	font-size: 12px;
	box-sizing: border-box;
}
footer address {
	max-width: 1330px;
	overflow: hidden;
	margin: 0 auto;
}
footer li {
	float: left;
	margin-top: 15px;
	color: #fff;
}
footer li:first-child {width: 50%;}
footer li:nth-child(2) {width: 25%;}
footer li:nth-child(3) {width: 25%;}
footer li span {
	display: inline-block;
	margin-right: 20px;
	color: rgba(180, 180, 180, 0.76);
	font-weight: bold;
} 
footer .txt {}
footer .logo img {
	float: left;
}
footer .logo p {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}


