@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

html, body {overflow-x: hidden; width: 100%; height: 100%; }
body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #fff;
	background: #fff;
}


/*scrollbar redesign*/
::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 3px #ccc;
}
::-webkit-scrollbar-thumb {
   background: rgb(227,6,16);
   border-radius: 10px;
}
/*::-webkit-scrollbar-thumb:hover {background: rgb(200,0,16);}*/


/*top*/
.top {
	width: 100%; 
	font-weight: bold;
	background: #151515;
	border-bottom: 1px solid rgb(48,48,48);
}
.top .inner {
	width: 1200px;
	height: 38px;
	margin: 0 auto;
	font-size: 13px;
	line-height: 3.0;
	color: rgb(132,132,132);
	background: #151515;
}
.top .left {
	float: left;
	height: 38px;
	box-sizing: border-box;
}
.top .left a {
}
.top .right {
	float: right;
}
.top .right li {
	float: left;
	padding: 0 10px;
}
.top .right li:nth-child(4) {
	position: relative;
	width: 120px;
	height: 30px;
	margin-top: 3px;
	padding-left: 5px;
	text-align: center;
	line-height: 2.5;
	color: #fff;
	border: 1px solid rgb(227,6,16);
	border-radius: 3px;
	background: rgb(227,6,16);
	transition: all 0.4s;
}
.top .right li:nth-child(2):before {
	content: url(../img/ico_kor_16x11.png);
}
.top .right li:nth-child(3):before {
	content: url(../img/ico_account_gr_13x12.png);
}
.top .right li:nth-child(4):before {
	content: url(../img/ico_cart_wt_12x12.png);
	position: absolute;
	top: 0;
	right: 13px;
	opacity: 0;
	transition: all 0.4s;
}
.top .right li:nth-child(4):hover {
	width: 130px;
}
.top .right li:nth-child(4):hover:before {
	right: 10px;
	opacity: 1;
}


/*header*/
header {
	position: relative;
	width: 100%; 
	background: #000;
	border-bottom: 1px solid rgb(48,48,48);
	z-index: 100;
}
header .inner {
	/*width: 100%;*/
	height: 80px;
	transition: all 0.6s;
	width: 1200px;
	margin: 0 auto;
}
header .logo {
	float: left;
	padding: 15px 0;
}
header .gnb { 
	float: left;
	display: inline-block;
	width:700px;
	height: 80px;
	margin-left: 50px;
	line-height: 6;
	transition: all 0.5s;
}
header .gnb .title a {
	float: left;
	margin: 0 10px;
	font-size: 14px;
	transition: all 0.3s;
}
header .gnb .title a:hover {
	color: rgb(227,6,16);
}
header .gnb .sub-menu {
	position: absolute;
	top: 84px; 
	left: 0;
	right: 0;
	height: 0;
	background: #000;
	overflow: hidden;
	box-sizing: border-box;
	transition: height 0.3s;
	z-index: 999;
}
header .gnb .sub-menu li {
	margin-left: 23.5%;
}
header .gnb .sub-menu li a {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0 10px;
}
header .gnb li:hover .sub-menu {
	height: 80px;
}
header .inner:hover .gnb {
	display: block;
}
header .gnb .sub-menu li:hover {
	color: rgb(227,6,16);
}
header .cart {
	float: right;
	width: 20px; 
	height: 20px;
	margin: 35px 10px 0; 
}
header .cart a {
	position: relative;
}
header .cart span {
	position: absolute;
	bottom: 9px;
	left: 13px;
	display: block;
	width: 18px;
	height: 18px;
	font-size: 12px;
	color: rgb(255,255,255);
	line-height: 17px;
	text-align: center;
	background-color: rgb(227,6,16);
	border-radius: 50%;
}


/*swiper-container*/
.swiper-container {
	overflow: hidden;
	width: 100%;
}
.swiper-slide {
	overflow: hidden;
	position: relative;
}
.swiper-slide img {
	width: 100%;
	display: block;
}

.swiper-slide .txt {
	position: absolute;
	left: 100px;
	bottom: 30%;
}
.swiper-slide .txt p {
	display: inline-block;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
}
.swiper-slide .txt p:after {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	top: 80px; left: 0px;
	display: inline-block;
	width: 18px;
	height: 18px;
	opacity: 0;
	transition: all 0.4s;
}
.swiper-slide:hover p:after {
	position: absolute;
	left: 50px;
	display: block;
	opacity: 0.8;
	color: rgb(227,6,16);
}


/*slick-dots*/
.slick-dots {
	width: 1200px;
	height: 110px;
	margin: 60px auto;
}
.slick-dots ul {}
.slick-dots li {
	position: relative;
	display: block;
	min-width: calc(20% - 40px);
	height: 70px;
	float: left;
	padding: 20px 20px;
	font-size: 15px;
	color: #000;
	border-bottom: 1px solid rgb(225,225,225);
	cursor: pointer;
}
.slick-dots li:before {
	content: '';
	position: absolute;
	top: 25%; right: 0;
	width: 1px;
	height: 34px;
	background: rgb(225,225,225);
}
.slick-dots .active {
	color: rgb(227,6,16);
	border-bottom: 1px solid rgb(227,6,16);
}
.slick-dots li:last-child:before {
	display: none;
}


/*main*/
.main {
	min-width: 1200px;
	overflow: hidden;
	padding: 40px;
	box-sizing: border-box;
	background-color: rgb(241,243,244);
}
.main .main-banner01 {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.main .main-banner01:hover img {
	transform: scale(1.1);
}
.main .main-banner01 .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	transition: all 0.4s;
}
.main .main-banner01 .txt {
	position: absolute;
	left: 130px;
	bottom: 40%;
	display: inline-block;
}
.main .main-banner01 .txt span {
	display: block;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
}
.main .main-banner01 .txt p {
	font-size: 24px;
	font-weight: 600;
}
.main .main-banner01 .txt p:after {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	top: 89px; left: 110px;
	display: inline-block;
	width: 18px;
	height: 18px;
	opacity: 0;
	transition: all 0.4s;
}
.main .main-banner01:hover p:after {
	position: absolute;
	top: 89px; left: 230px;
	display: block;
	opacity: 0.8;
	color: rgb(227,6,16);
}
.main .main-imgArea {
	width: 1280px;
	margin: 40px auto 0;
}
.main .main-banner02 {
	position: relative;
	float: left;
}
.main .main-banner-box {
}
.main .main-banner02 .txt {
	position: absolute;
	bottom: 5%; left: 5%;
}
.main .txt span {
	display: block;
	margin-bottom: 20px;
}
.main .txt p {
	font-size: 24px;
}
.main .txt p:after {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	bottom: 15px; left: 100px;
	display: inline-block;
	width: 18px;
	height: 18px;
	opacity: 0;
	transition: all 0.4s;
}
.main .main-banner02:hover p:after {
	position: absolute;
	left: 180px;
	display: block;
	opacity: 0.8;
	color: rgb(227,6,16);
}

.main .main-banner-box {
	float: right;
}
.main .main-banner03 {
	position: relative;
}
.main .main-banner03 .img-box img {
	display: block;
}
.main .main-banner03 .txt {
	position: absolute;
	bottom: 8%; left: 7%;
}
.main .main-banner03 .txt p:after {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	bottom: 11px; left: 200px;
	display: inline-block;
	width: 18px;
	height: 18px;
	opacity: 0;
	transition: all 0.4s;
}
.main .main-banner03:hover p:after {
	position: absolute;
	left: 300px;
	display: block;
	opacity: 0.8;
	color: rgb(227,6,16);
}
.main .main-banner04 {
	position: relative;
	margin-top: 38px;
	width: 100%;
}
.main .main-banner04 .img-box img {
	display: block;
}
.main .main-banner04 .txt {
	position: absolute;
	bottom: 19px; left: 30px;
}
.main .main-banner04 .txt p:after {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	bottom: 10%; left: 90%;
	display: inline-block;
	width: 18px;
	height: 18px;
	opacity: 0;
	transition: all 0.4s;
}
.main .main-banner04:hover p:after {
	position: absolute;
	left: 120%;
	display: block;
	opacity: 0.8;
	color: rgb(227,6,16);
}


/*.swiper-container second*/
.second {
	position: relative;
	width: calc(100% + 40px); 
	height: 660px;
	padding-top: 40px;
	left: -37px;
	box-sizing: border-box;
}
.second:before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 40%;
	background: rgb(241,243,244);
	z-index: -1;
}
.second .swiper-slide {
	position: relative;
	width: 620px;
	overflow: hidden;
}

.second .img-box:after {
	position: absolute;
	top: 0;
	left: -70%;
	z-index: 2;
	display: none;
	overflow: hidden;
	content: '';
	width: 30%;
	height: 100%;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	transform: skewX(0deg);
}
.second .img-box:hover:after {
	animation: shine .85s;
	display: block;
	overflow: hidden;
}
@-webkit-keyframes shine {
	100% {left: 90%;}
}
@keyframes shine {
	100% {left: 90%;}
}
.second .slide-box img {
	display: block;
	width: 620px;
	text-align: center;
	transition: all 0.4s;
}
.second .slide-box .txt {
	position: absolute;
	top: 5%; left: 7%;
	color: #000;
	z-index: 99;
}
.second .slide-box .txt span {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
}
.second .slide-box .txt p {
	font-size: 24px;
	font-weight: 600;
	color: #000;
}
.second .slide-box .txt p:after {
	display: none;
}


/*akademie*/
.akademie {
	margin-top: 60px;
	box-sizing: border-box;
}
.akademie .container {
	position: relative;
	max-width: 1360px;
	min-width: 1200px;
	margin: 0 auto;
}

.akademie .akademie-header{
	width: 100%;
	height: 100%;
}
.akademie .akademie-header h1{
	float: left;
	display: inline-block;
	margin-left: 50px;
	padding: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #000;
}
.akademie .akademie-header a {
	position: relative;
	float: right;
	margin: 0px 40px 0;
	padding: 34px 35px;
	margin-left: 50px;
	font-weight: 600;
	font-size: 24px;
	color: rgb(227,6,16);
}
.akademie .akademie-header a:after {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	top: 40%; left: 60%;
	display: inline-block;
	width: 18px;
	height: 18px;
	opacity: 0;
	transition: all 0.4s;
}
.akademie .akademie-header a:hover:after {
	position: absolute;
	top: 40%; left: 100%;
	display: block;
	opacity: 0.8;
	color: rgb(227,6,16);
}
.akademie .akademie-contents {
	position: relative;
	width: 100%;
}

.akademie .left {
	position: relative;
	overflow: hidden;
	float: left;
	width: 59%;
	height: 790px;
	z-index: 100;
}
.akademie .left img {
	width: 100%;
}
.akademie .left .day {
	position: absolute;
	top: 50%; left: 7%;
}
.akademie .left .day span {
	display: block;	
	margin-bottom: 40px;
}
.akademie .left .day span:after {
	position: absolute;
	top: 45px; left: 0;
	content: '';
	width: 50px;
	height: 3px;
	background: #fff;
}
.akademie .left .apply {
	position: absolute;
	bottom: 7%; left: 7%;
}

.akademie .left img {
	width: 100%;
}
.akademie .left h2:after {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	bottom: 11px; left: 200px;
	display: inline-block;
	width: 18px;
	height: 18px;
	opacity: 0;
	transition: all 0.4s;
}
.akademie .left:hover h2:after {
	position: absolute;
	left: 280px;
	display: block;
	opacity: 0.8;
	color: rgb(227,6,16);
}
.akademie .right {
	position: relative;
	float: right;
	width: 37%;
	padding: 50px 0;
	height: 790px;
	color: #000;
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
}
.akademie .right li {
	position: relative;
	width: 100%;
	height: 195px;
	overflow: hidden;
	margin-bottom: 50px;
}
.akademie .right .day {
	position: relative;
	top: 0; left: 0;
	width: 45px;
	float: left;
	font-weight: 600;
	line-height: 17px;
	box-sizing: border-box;
}
.akademie .right .day:after {
	content: '';
	display: block;
	position: absolute;
	top: 7px; right: 0;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: rgb(227,6,16);
}
.akademie .right .txt-box {
    width: 50%;
    float: left;
    padding: 0 35px;
    box-sizing: border-box;
}
.akademie .right .txt {
	overflow: hidden;
	max-height: 83px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 28px;
    box-sizing: border-box;
	word-break: keep-all;
}
.akademie .right .info {
	position: absolute;
	bottom: 0;
	font-size: 15px;
}

.akademie .right figure img {
	position: relative;
	float: right;
	width: 40%;
	vertical-align: middle;
}
.akademie .right figure:after {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
	display: none;
	overflow: hidden;
	content: '';
	width: 20%;
	height: 100%;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	transform: skewX(0deg);
}
.akademie .right figure:hover:after {
	animation: shine .75s;
	display: block;
	overflow: hidden;
}
@-webkit-keyframes shine {
	100% {left: 90%;}
}
@keyframes shine {
	100% {left: 90%;}
}


/*exhibition*/
.exhibition {
	max-width: 1360px;
	min-width: 1200px;
	margin: 60px auto;
}
.exhibition .container {
	position: relative;
	max-width: 1360px;
	min-width: 1200px;
	margin: 0 auto;
	
}
.exhibition .container h1{
	float: left;
	display: inline-block;
	margin: 40px 0 0 50px;
	padding: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #000;
}
.exhibition .img-box {
	position: relative;
}
.exhibition .img-box img {
	
	width: 100%;
	height: 100%;
}

.exhibition .contents-box p {
	position: absolute;
	bottom: 12%; left: 5%;
	font-size: 24px;
	color: #222;
}

.exhibition .contents-box span {
	position: absolute;
	bottom: 6%; left: 5%;
	font-size: 14px;
	color: #222;
}
.exhibition .contents-box:after {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	bottom: 13.5%; left: 23%;
	display: inline-block;
	width: 18px;
	height: 18px;
	opacity: 0;
	font-size: 24px;
	transition: all 0.4s;
}
.exhibition .contents-box:hover:after {
	position: absolute;
	left: 30%;
	display: block;
	opacity: 0.8;
	color: rgb(227,6,16);
}



/*bottom-nav*/
.bottom-nav {
	width: 100%;
	height: 100%;
	padding: 15px 0 40px;
	background: #000;
	border-bottom: 1px solid rgb(48,48,48);
}
.bottom-nav .inner {
	width: 1200px;
	margin: 0 auto;
}
.bottom-nav ul {
	float: left;
	width: 16.6666%;
}
.bottom-nav li {
	color: #ccc;
}

.bottom-nav li span {
	display: block;
	margin: 25px 0;
	font-weight: bold;
	color: #fff;
}


/*footer*/
footer {
	position: relative;
	background: #000;
	width: 100%;
	padding: 20px;
	font-size: 12px;
	box-sizing: border-box;
}
footer address {
	max-width: 1330px;
	overflow: hidden;
	margin: 0 auto;
}
footer li {
	float: left;
	margin-top: 15px;
	color: #fff;
}
footer li:first-child {width: 50%;}
footer li:nth-child(2) {width: 25%;}
footer li:nth-child(3) {width: 25%;}
footer li span {
	display: inline-block;
	margin-right: 20px;
	color: rgba(180, 180, 180, 0.76);
	font-weight: bold;
} 
/*footer .copy {
	position: absolute;
	top: 10%;
	left: 45%;
}*/
footer .txt {}
/*footer .logo {
	position: absolute;
	right: 0;
}*/
footer .logo img {
	float: left;
}
footer .logo p {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}



